  <div class="search-area">
        <div class="search">
          <h1>Category</h1>
         <form action="" method="get">
           <input type="search" name="q" placeholder="Search for a Research paper" />
          <button type="submit" class="" style="border: none; padding: 10px; background-color: #1f5270; border-radius: 10px; color: white; margin-top: 10px;">Search</button>
         </form>
        </div>
      </div>
        
        <div class="side">
          <nav>
            <ul>

              <li class="current"><a href="#" >All</a></li>
              <li><a href="#" class="">Education & Learning</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Health</a></li>
              <li><a href="#">Finance</a></li>
              <li><a href="#">Entertainment</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Personal Dev.</a></li>
            </ul>
          </nav>
        </div>